.login-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100%;
    overflow: hidden;
    width:100%;
    height: 100%;
    background-image: url("http://10.253.50.11:9527/statistics/train.webp");
    background-size:cover;
    background-position:center;
}